body {
  background-color: black;
  color: #FEFFFF;
}

header img {
  margin-top: 8vw;
  border-radius: 100%;
  height: 50vh;
}

header p {
  font-size: 0.65em;
}

header p > a {
  color: #7B910A;
}

header p > a:visited {
  color: #7B910A;
}

header p > a:hover {
  color: white;
}
