body {
  height: auto;
}

article {
  margin-top: 7vh;
  display: grid;
  grid-template: 47vh 47vh / 1fr 1fr;
}

article > section {
  border: solid thin #7B910A;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

article > section h3 {
  margin: 0;
  width: 100%;
}

section > div {
  margin-top: 17vh;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8vh;
  width: 100%;
  align-content: center;
}

section div > a {
  display: block;
  margin: 0;
}

section > div > div {
  list-style-type: none;
  display: none;
  position: relative;
  background-color: #f1f1f1;
  width: 100%;
  margin: 0 auto;
  z-index: 1
}

section > div:hover {
  transition: all 0.6s ease;
}

section > div:hover > div {
  display: block;
  /*transition: all 2s ease;*/
}

section > div:hover h3 {
  background-color: #f1f1f1;
}

section > div:hover {
  transform: translateY(-10vh);
  margin-top: 21vh;
}

/* individual sections */
#sports {
  background-image: url("../images/climb-rack.jpg");
  opacity: 0.85;
}

#beer {
  background-image: url("../images/beer-bottles.jpg");
  opacity: 0.9;
}

#dogs {
  background-image: url("../images/roo-taco-cuddle.jpg");
  opacity: 1;
}

#crafts {
  background-image: url("../images/yarn-craft.jpg");
}
