body, html {
  margin: 0;
  height: 100%;
  background-color: #f1f1f1;
  font-family: Anaheim;
  color: black;
}

/* general links */
a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/* navbar for other pages */
nav {
  background-color: #7B910A;
  color: #f1f1f1;
  top: 0;
  width: 100vw;
  height: 7vh;
  opacity: 0.75;
  position: fixed;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  align-items: center;
  z-index: 10;
}
/*@media screen and (min-width: 320px) {
  nav {
    height:
  }
}*/

nav > a {
  color: #f1f1f1;
  text-decoration: none;
  margin: auto;
}

@media screen and (min-width: 320px) {
  nav > a {
    font-size: calc(1.2em + 6 * ((100vw - 320px) / 680));
    padding: 0 0.9em;
  }

  nav > a:hover {
    padding: calc(0.9em + 1.1em * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  nav > a {
    font-size: 1.1em;
  }
}

nav > a:hover {
  color: #f1f1f1;
  background-color: black;
  padding: 0.9em;
  transition: all 0.1s ease;
}

nav a[href*="index.html"] {
  margin-left: 6vw;
}

/* main navbar */
#main-nav {
  background-color: #f1f1f1;
}
#main-nav > a {
  color: #7B910A;
}

/* header */
header {
  /*top: 6vh;*/
  min-height: 80vh;
  position: relative;
  text-align: center;
  font-size: 2em;
}

header h1 {
  margin: 0.4rem 0;
}

/* splat */
#splat {
  color: #FEFFFF;
  background-image: url("../images/franklin.jpg");
  position: relative;
  opacity: 0.65;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

#splat h1, #splat sub {
  margin: 0 35vw 3vw 0;
}

/* article divider */
article {
    text-align: center;
    font-size: 2em;
    min-height: 20vh;
}

article > h4 {
  /*padding-top: 1rem;*/
}

main > article > ul {
  list-style-type: none;
}

/* second picture */
#bg2 {
  background-image: url("../images/underwater.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 80vh;
  color: #FEFFFF;
  font-size: 3em;
  text-align: center;
}

#bg2 > span {
  display: block;
  padding-top: 70vh;
}

/* footer */
footer {
  color: #FEFFFF;
  background-color: rgb(196, 209, 10);
  height: 30vh;
  padding-left: 10vw;
  padding-top: 5vh;
  display: grid;
  grid-template-columns: 30vw 1fr;
}

footer section {
  margin-right: 3vw;
}

footer p {
  margin: 0.5em 0;
}

footer a {
  color: inherit;
}

footer a:hover {
  color: black;
}

#contact {
  margin-left: 2vw;
}

#contact div {
  display: flex;
  flex-direction: column;
}
