main {
  /*background-color: #E4DBCC;*/
  height: auto;
  font-family: 'Ubuntu', sans-serif;
}

/* page header */
header {
  height: 95vh;
  width: 100vw;
  opacity: 0.8;
  border-top: solid thin rgba(241, 241, 241,0);
  background-image: url("../images/computer-code.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header div {
  min-width: 15rem;
  color: white;
  margin: 35vh 20vw 0 20vw;
  background-color: black;
}

header div sub {
  font-size: 0.72em;
}

/* project blocks */
main article {
  display: grid;
  height: 80vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

article > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: solid thin #f1f1f1;
  border-right: solid thin #7B910A;
  border-bottom: solid thin #7B910A;
  min-height: 46.5vh;
}

main section > h3 {
  margin: 0.5rem auto 0 auto;
  font-size: 2em;
}

main section > sub {
  font-size: 0.65em;
}

main section a:hover {
  color: #910A37;
}

main section > p {
  margin: 3vw 5vw;
  font-family: Anaheim, sans-serif;
}

/* background for project blocks */
/*article section:nth-of-type(2) {
  background-image: url("../images/hotel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/
