body {
  margin: 0;
  background-color: #f1f1f1;
  overflow: auto;
  font-family: Anaheim;
}

h1 {
  font-size: 4.0em;
}

header img {
  border-radius: 100%;
  float: center;
}

#navbar {
  background-color: #333;
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#about-navbar {
  background-color: #333;
  position: fixed;
  top: 0px;
  width: 100%;
  display:block;
  transition: top 0.3s;
}

#navbar, #about-navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar, #about-navbar a:hover {
  background-color: #ddd;
  color: black;
  color: #cca300;
}

/*nav a img {
  width: 50%;
  height: 50%;
  background: #333;
  display; inline;
  padding: -50px -220px;
  margin: -10px -220px;
}*/

p {
  padding: 15px;
  font-size: medium;
}
