body {
  margin: 0;
  background-color: #f1f1f1;
  overflow: auto;
  font-family: Anaheim;
}

.container {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 5.0em;
  position: relative;
  top: 1.5rem;
  left: 2rem;
  z-index: -1;
  border-bottom-style: solid;
  border-bottom-width: thin;
  width: 7em;
  text-align: center;
}

main p {
  margin: 0 2em;
}

main p:first-of-type {
  margin: 0 2em 0 2em;
}

header img {
  border-radius: 100%;
  float: left;
}

main article p {
  font-size: 2em;
}

main article ul {
  margin: 0 2em;
  font-size: 1.5em;
}

#navbar {
  background-color: #333;
  position: fixed;
  top: -3.2vw;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  transition: top 0.5s;
}

#navbar a {
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 0.9em;
  text-decoration: none;
  font-size: 1.1em;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
  color: #cca300;
}

p {
  padding: 0em;
  font-size: medium;
}
